.nav{
    height: 71px;
    box-shadow: 0px 1px 8px #8888;
    position: fixed;
    margin-bottom: 80px;
    width: 100%;
    background-color: white;
}

.logo{
    float: left;
    padding-left: 15px;
}
 .hamburger{
     float: right;
 }

 .css-h4y409-MuiList-root{
     font-size: xx-large;
 }
 
 .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
     color: black !important;
 }

 .css-i4bv87-MuiSvgIcon-root{
     font-size: 40px !important;
 }

 @media (max-width: 414px) {
     .nav{
         width: 100%;
     }
 }